.top {
  position: relative;
  padding-top: 0;

  &__back-picture {
    position: absolute;
    z-index: 0;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-34%, -60%);

    @include laptop {
      width: 330px;
      height: 330px;
    }

    @include tablet {
      width: 320px;
      height: 320px;
      transform: translate(-45%, -50%);
    }

    @include phone {
      width: 270px;
      height: 270px;
      transform: translate(-50%, -74%);
    }

  }

  &__title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 0;
    align-self: end;
    text-align: left;

    @include laptop {
      font-size: 30px;
      line-height: 44px;
    }

    @include tablet {
      font-size: 24px;
      line-height: 30px;
      grid-area: 1 / 1 / 2 / 3;
    }

    @include phone {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 18px;
      line-height: 26px;
      align-self: flex-start;
    }
  }

  &__title-orange {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $orange;

    @include laptop {
      font-size: 44px;
      line-height: 54px;
    }

    @include tablet {
      font-size: 40px;
      line-height: 44px;
    }

    @include phone {
      font-size: 26px;
      line-height: 44px;

    }
  }

  &__container {
    display: grid;
    grid-template-columns: minmax(300px, 440px) minmax(145px, 280px);
    grid-template-rows: 325px 165px;
    grid-column-gap: 465px;
    grid-row-gap: 81px;
    justify-content: space-between;   

    @include laptop {
      grid-template-columns: minmax(180px, 300px) minmax(145px, 200);
      grid-template-rows: repeat(2, 190px);
      grid-column-gap: 350px;
      grid-row-gap: 25px;     
      justify-content: space-between;
    }

    @include tablet {
      grid-template-columns: 180px 145px;
      grid-template-rows: auto 420px;
      grid-column-gap: 260px;
      grid-row-gap: 24px;    
      justify-content: space-between;
    }

    @include phone {
      display: grid;
      grid-template-columns: minmax(270px, 600px);
      grid-template-rows: 325px repeat(2, auto);
      grid-column-gap: 0px;
      grid-row-gap: 20px;
      justify-items: center;      
    }
  }

  &__button {
    text-align: center;

    @include tablet {
      grid-area: 2 / 1 / 3 / 2;
      align-self: center;
    }

    @include phone {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  &__paw-button {
    background-color: $white;
  }

  &__pet-picture {
    width: 75px;
    height: 75px;
    object-fit: contain;

    @include tablet {
      width: 55px;
      height: 55px;
    }
  }

  &__pets {
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include laptop {
      gap: 20px;
    }

    @include tablet {
      grid-area: 2 / 2 / 3 / 3;
      gap: 15px;
    }

    @include phone {
      grid-area: 2 / 1 / 3 / 2;
      flex-direction: row;
      gap: 10px;
    }
  }

  &__pet {
    display: flex;
    gap: 20px;
    height: 84px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    align-items: center;

    @include tablet {
      height: 64px;
    }

    @include phone {
      flex-direction: column;
      gap: 5px;
      align-items: center;
      height: 85px;
    }
  }

  &__pet:active {
    border: 1px solid $orange;
  }
}