.burger-menu {
  position: fixed;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 130px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  padding-top: 30px;
}

.burger-menu__burger {
  padding: 70px 40px 50px 20px;
  background-color: var(--bg-grey-color, #f2f0f1);
  border-bottom: 10px solid var(--text-color-orange, #ff8a00);
}

.burger-menu__wrapper {
  max-width: 394px;
}

.burger-menu__link-text {
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 550;
  text-align: left;
  padding: 15px 0 15px 20px;
}

.burger-menu__item:not(:last-child) {
  border-bottom: 1px solid var(--text-color-orange, #ff8a00);
}

.burger-menu__button {
  display: none;
}

.burger-menu__burger-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.burger-menu__item {
  width: 100%;
}

.burger-menu__rect {
  position: absolute;
  top: 3px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .burger-menu {
    left: 72px;    
  }

}

@media (max-width: 940px) {
  .burger-menu {
    left: 34px;
  }
}

@media (max-width: 650px) {
  .burger-menu {
    left: 25px;
    top: 72px;
  }

  .burger-menu__wrapper {
    max-width: 270px;
  }
}