.form {
    position: relative;
    padding: 50px 100px;
    border-radius: 20px;
    max-height: 562px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--bg-grey-color, #f2f0f1);
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__text {
    font-size: 20px;
    line-height: 30px;
}


.form__text-block {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.form__text_orange,
.form__title_orange {
    color: var(--text-color-orange, #ff8a00);
}

.form__contacts {
    font-style: normal;
    line-height: 24px;
    display: flex;
    gap: 45px;
    justify-content: center;
    margin-bottom: 60px;
}

.form__contact {
    font-weight: 550;
}

.form__contact:last-of-type {
    margin-bottom: 0;
}

.form__input-box {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form__label {
    font-size: 12px;
    text-align: left;
}

.form__input {
    width: 280px;
    height: 40px;
    border: none;
}

.form__input:focus{
    outline: 1px solid var(--text-color-normal, #282626);
}


.form__field {
    margin-bottom: 35px;
    border: none;
}

.form_block {
    display: block;
}

.form__button {
    width: 80px;
    border: none;
    cursor: pointer;
}

.form__picture-button {
    width: 73px;
}

.form__text-button {
    display: block;
    color: var(--text-color-orange, #ff8a00);
    font-size: 12px;
    line-height: 16px;
    font-weight: 550;
    text-transform: uppercase;
}

.form__button-block {
    width: 494px;
    margin: 0 auto;
    text-align: right;
}

.form__text_margin {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .form__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form__form {
        padding: 50px 93px;
        max-height: 486px;
        max-width: 680px;
    }

    .form__text {
        font-size: 18px;
        line-height: 26px;
    }

    .form__button-block {
        width: 420px;
    }

    .form__input {
        width: 200px;
        height: 35px;
    }

    .form__text_inline {
        display: inline;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .form__text-block {
        max-width: 480px;
    }

    .form__contacts {
        margin-bottom: 40px;
    }
}

@media (max-width: 940px) {
    .form__title {
        font-size: 18px;
    }

    .form__form {
        padding: 40px 60px;
        max-height: 440px;
        max-width: 540px;
    }

    .form__text {
        font-size: 14px;
        line-height: 20px;
    }

    .form__text-block {
        max-width: 380px;
    }

    .form__button-block {
        width: 100%;
        text-align: center;
    }

    .form__contacts {
        gap: 41px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .form__input-box {
        margin-bottom: 20px;
    }
}

@media (max-width: 680px) {
    .form__title {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .form__form {
        padding: 30px 29px;
        max-height: 513px;
        max-width: 500px;
    }

    .form__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form__input-box {
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }

    .form__picture-button {
        width: 61px;
    }

    .form__text-button {
        font-size: 8px;
        line-height: 12px;
    }
}