.help__text_padding {
    padding-left: 100px;
}

.help__text_medium {
    font-weight: 500;
}

.help__list {
    list-style-type: none;
    counter-reset: inc;
    margin-bottom: 50px;
    text-align: left;
}

.help__item {
    margin-bottom: 50px;
}

.help__item:last-of-type {
    margin-bottom: 0;
}

.help__subtitle::before {
    margin-right: 20px;
    padding: 10px 25px;
    content: counter(inc);
    counter-increment: inc;
    font-size: 50px;
    color: var(--text-color-orange, #ff8a00);
    background-color: var(--bg-white-color, #fff);
    border-radius: 50%;
}

.help__title_orange {    
    color: var(--text-color-orange, #ff8a00);
}

.help__flex-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.help__pets-list {
    display: grid;
    grid-template-columns: 180px minmax(280px, 380px);
    grid-template-rows: repeat(2, 139px);
    grid-gap: 20px;
}

.help__pets-list .help__pets-item_one {
    grid-area: 1 / 1 / 2 / 2;
}

.help__pets-list .help__pets-item_two {
    grid-area: 2 / 1 / 3 / 2;
}

.help__pets-list .help__pets-item-three {
    grid-area: 1 / 2 / 3 / 3;
}

.help__pets-list-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 280px));
    grid-template-rows: repeat(2, minmax(117px, 181px));
    grid-gap: 20px;
}

.help__pets-list-two .help__pets-item_one {
    grid-area: 1 / 1 / 3 / 2;
}

.help__pets-list-two .help__pets-item_two {
    grid-area: 1 / 2 / 2 / 3;
}

.help__pets-list-two .help__pets-item-three {
    grid-area: 2 / 2 / 3 / 3;
}

.help__pet-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.help__pet-img_block {
    display: block;
    max-width: 580px;
    height: 349px;
}

.help__flex-item{
    max-width: 580px;
}

.help__container{
    text-align: center;
}

@media (max-width: 1200px) {
    .help__pets-list {
        display: grid;
        grid-template-columns: 180px 280px;
        grid-template-rows: repeat(2, 139px);
        grid-gap: 20px;
    }

    .help__pets-list-two {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 117px);
        grid-gap: 20px;
    }

    .help__pet-img_block {        
        max-width: 400px;        
    }   
}

@media (max-width: 940px) {
    .help__flex-block {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .help__pets-list {
        display: grid;
        grid-template-columns: minmax(200px,300px) minmax(280px,380px);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
    }

    .help__pets-list-two {
        display: grid;
        grid-template-columns: minmax(200px,300px) minmax(280px,380px);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
    }

    .help__pet-img_block {        
        max-width: 100%;  
        height: 385px;      
    }

    .help__flex-item{
        max-width: 100%;
    }

    .help__subtitle::before {        
        padding: 10px 20px;        
        font-size: 34px;        
    }

    .help__text_padding {
        padding-left: 80px;
    }    
}

@media (max-width: 650px) {
    
}